html
    head
    body
        h1 New Task
        hr
        form(method="post")
            span Task :
            input(type="text", name="newTaskName")
            input(type="submit", value="Create")
    